@using Blazored.LocalStorage
@using CardStudyBlazor.Domain.Configuration
@inherits Fluxor.Blazor.Web.Components.FluxorLayout
<div>
    <NavMenu />
</div>
<div>
    <main class="pt-20">
        <article>
            @Body
        </article>
    </main>
</div>
<ScreenLoadingComponent />

@code{
    [Inject] public IState<CardStudyComponentsState> ComponentsState { get; set; } = null!;
    [Inject] public StateFacade Facade { get; set; } = null!;
    [Inject] public ILocalStorageService LocalStorage { get; set; } = null!;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && ComponentsState.Value.CurrentComponents == null)
        {
            // load from local storage
            var components = await LocalStorage.GetItemAsync<CardStudyComponents>(JsonConfiguration.ComponentsKey);
            Facade.LoadComponents(components ?? new CardStudyComponents());
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}