@inherits Fluxor.Blazor.Web.Components.FluxorLayout
<div>
    <NavMenu />
</div>
<div>
    <main class="pt-20">
        <article>
            @Body
        </article>
    </main>
</div>
<ScreenLoadingComponent />

@code{
    [Inject] public IState<CardStudyComponentsState> ComponentsState { get; set; } = null!;
    [Inject] public StateFacade Facade { get; set; } = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender && ComponentsState.Value.CurrentComponents == null){
            Facade.LoadComponents(new CardStudyComponents());
        }
        base.OnAfterRender(firstRender);
    }
}