@inherits Fluxor.Blazor.Web.Components.FluxorLayout
<div>
    <NavMenu />
</div>
<div>
    <main class="pt-20">
        <article>
            @Body
        </article>
    </main>
</div>
<ScreenLoadingComponent />
