@inherits Fluxor.Blazor.Web.Components.FluxorComponent


@if (Item != null)
{
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">@Item.Id</td>
    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">@Item.Name</td>
    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">@Item.Description</td>
    <td>
        <div class="m-2">
            <div class="px-6 py-4 w-40 rounded-2xl bg-red-200 text-center" @onclick="RemoveCategoryAsync">Remove</div>
        </div>
    </td>
}

@code {
    [Inject] public IState<CardStudyComponentsState> ComponentsState { get; set; } = null!;
    [Inject] public StateFacade Facade { get; set; } = null!;

    [Parameter]
    public Category? Item { get; set; }

    private async Task RemoveCategoryAsync()
    {
        await Task.CompletedTask;
        if (Item == null)
        {
            return;
        }
        Facade.RemoveCategory(Item);
    }
}